* {
  outline: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

body {
  background: rgb(21, 11, 226);
  background: -moz-linear-gradient(0deg, rgba(21, 11, 226, 1) 0%, rgba(25, 11, 157, 1) 21%, rgba(0, 41, 75, 1) 51%);
  background: -webkit-linear-gradient(0deg, rgba(21, 11, 226, 1) 0%, rgba(25, 11, 157, 1) 21%, rgba(0, 41, 75, 1) 51%);
  background: linear-gradient(0deg, rgba(21, 11, 226, 1) 0%, rgba(25, 11, 157, 1) 21%, rgba(0, 41, 75, 1) 51%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#150be2", endColorstr="#00294b", GradientType=1);
}

.logo {
  display: flex;
  margin: 25px auto;
  width: 250px;
}

.label {
  font-size: 17px;
  font-weight: 600;
  color: #191919;
  margin-bottom: 15px;
}

.options {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 5px;
  font-weight: 400;
  color: cadetblue;
}

.selections {
  width: 100%;
  font-size: 22px;
  margin: 0 0 23px 0;
  padding: 15px 5px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  height: 50px;
  appearance: none;
  font-weight: 600;

}

.main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 20px;
  background: #F4F4F4;
  width: 375px;
  padding: 46px 20px 22px;
  border-radius: 33px;
}

.convert-button{
  padding: 18px;
  font-size: 20px;
  border-radius: 12px;
  background-color: #00294B;
  color: #ffffff;
  cursor: pointer;
  margin-bottom: 20px;
  border: none;
}

button:active {
  background-color: rgb(235, 27, 27);
}

button:hover {
  font-size: 23px;
  opacity: 0.9;
  transition: 0,9s;
}


.up-box {
  border: 2px;
  border-radius: 25px;
  border-style: solid;
  border-color: #00294B;
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
}

.arrow {
  display: flex;
  margin: 0 auto;
  width: 36px;

}

.down-box {
  margin: 9px 9px;
  padding: 9px 9px;
  flex-direction: column;
  display: flex;
  align-items: center;
}

p {
  margin-top: 8px;
  font-size: 22px;
  font-weight: 600;
 
}
.color-currency{
  color: gray;
  font-weight: 600;
  font-size: 18px;

}